.about-me-header {
  display: flex;
  align-items: center;
}

.about-me-header h1 {
  padding: 1.5rem;
  color: #2E3C42;
  text-shadow: rgb(97, 95, 85) 1px 0 3px;
}

.about-me-header .line {
  flex-grow: 1;
  height: 10px;
  background-color: #2E3C42;
  border-radius: 10px;
  margin: 20px;
}

.profile-picture-about img {
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: block;
  border-radius: 50%;
  box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
}


.about-me-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-me-text {
  padding: 1rem;
  max-width: 65%;
}

@media (max-width: 500px) {
  .about-me-text {
    max-width: 100%;
  }
}

.about-me-text-description p{
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.about-me-text-header h2 {
  color: #0b5f7a;
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
}

.about-me-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
  white-space: nowrap;
  gap: 0.5rem;
}

.about-me-icons span{
  background-color: #035570;
  border-radius: 2rem;
  padding: 0.5rem;
  width: 10em;
  text-align: center;
  color: #fff;
}
