.education-header {
  display: flex;
  align-items: center;
}

.education-header h1 {
  padding: 1.5rem;
  color: #2E3C42;
  text-shadow: rgb(97, 95, 85) 1px 0 3px;
}

.education-header .line {
  flex-grow: 1;
  height: 10px;
  background-color: #2E3C42;
  border-radius: 10px;
  margin: 20px;
}

/* .education-content {
  min-height: 100vh;
} */

.edu-logo img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
  box-shadow: 10px 10px 25px rgba(0,0,0,0.3);
}

.edu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0 20px;
}

.edu-description {
  padding: 0.5rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: left;
  flex: 0.4;
}

@media screen and (max-width: 500px){
  .edu-description {
    font-size: 0.8rem;
    text-align: center;
    white-space: nowrap;
  }
}