
.home-section {
  background-color: #FAF9F6;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 25px;
  height: 100vh;
  /* position: relative; */
  /* left: 200px; */
}

.profile-picture img {
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}

.welcome-text span{
  color: #36A9A9;
  text-align: center;
}

.home-about-button {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  color: #fff;
  background-color: #36A9A9;
  height: 48px;
  :hover{
      background-color: #36A9A9;
  }
                
}