
.home-section {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  min-height: 100vh;
  margin-top: 1rem;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

@media screen and (max-width: 721px){
  .home-section {
    display: flex;
    flex-direction : column;
  }
}

.profile-picture-home img {
  width: 100%;
  height: auto; 
}

.welcome-text span{
  color: #2E3C42;
  text-align: center;
}

.welcome-text {
  text-align: center;
}

.btn-group-home {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}