
.home-section {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  gap: 1rem;
  min-height: 100vh;
  margin-top: 1rem;
  position: relative;
  z-index: 100;
  overflow: hidden;
  /* left: 200px; */
}

.profile-picture-home img {
  width: 100%;
  height: auto;

  /* border-radius: 10%;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3); */
}

.welcome-text span{
  color: #2E3C42;
  text-align: center;
}

.welcome-text {
  text-align: center;
}

.btn-group-home {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}