.open-source-repositories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 50px;
}

.projects-header {
  display: flex;
  align-items: center;
}

.projects-header h1 {
  padding: 1.5rem;
  color: #2E3C42;
  text-shadow: rgb(97, 95, 85) 1px 0 3px;
}

.projects-header .line {
  flex-grow: 1;
  height: 10px;
  background-color: #2E3C42;
  border-radius: 10px;
  margin-right: 20px;
}
