.tech-stack-header {
  display: flex;
  align-items: center;
}

.tech-stack-header h1 {
  padding: 1rem;
  color: #2E3C42;
  text-shadow: rgb(97, 95, 85) 1px 0 3px;
}

.tech-stack-header .line {
  flex-grow: 1;
  height: 10px;
  background-color: #2E3C42;
  border-radius: 10px;
  margin-right: 20px;
  gap: 0.2em;
}

.tech-stack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  min-height: 30vh;
}

/* .section {
  padding: 60px 20px;
  text-align: center;
} */

.slider-container {
  max-width: 50%;
  max-height: 80%;
}

.slider-container h3{
  text-align: center;
  padding: 5rem;;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
  color: #333;
}

.slide-item .icon {
  transition: transform 0.3s;
  width: 100%;
  font-size: 4rem;
  padding: 2rem;
  /* height: auto; */
}

.slide-item .name {
  font-size: 1rem;
  /* padding: 2rem; */
}

.slide-item .label {
  margin-top: 10px;
  color: #666;
  font-size: 1em;
}

.tech-stack-list {
  font-size: 1.3rem;
  list-style: none; /* remove default bullets */
  padding-left: 0;
  line-height: 1.6;;
}

.tech-stack-list li::before {
  content: "🗸"; /* or any emoji/text icon */
  margin-right: 8px;
  color: #0f6e2c;
}