.navbar {
    background-color: #2a5fa5;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    display: none;
}

.menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
    color: antiquewhite;
    display: none;
}

.nav-menu {
    background-color: #2a5fa5;
    width: 200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 8px 0px 8px 16px; */
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: rgb(127, 161, 255);
}

.nav-menu-items {
    width: 100%;
    position: relative;
}

.navbar-toggle {
    background-color: #2a5fa5;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 10px;
}